@using SmartNetwork.Core.Application.ViewModel.Users
@using SmartNetwork.Core.Application.ViewModel.Posts

@model UserViewModel

@{
    ViewData["Title"] = "Home Page";
    
}
<div class="container-fluid">
    <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
          <div class="row">
                      <div class="col-12 mt-2 mb-3">
            <div class="card rounded-0">
                <div class="card-header card-header-pills bg-custom">
                   <h2 class="text-center fw-bold text-white">New Post</h2>
                </div>
                <div class="card-body">
                    @if(!string.IsNullOrEmpty(ViewBag.Error)){<span class="text-danger">@ViewBag.Error</span>}
                    <form method="post" enctype="multipart/form-data" asp-action="Add" asp-controller="Post">
                        <div class="row">
                            <div class="col-8">
                                <label class="form-label card-text fs-5">Body:</label>
                                <textarea class="form-control" id="Body" name="Body" required></textarea>
                            </div>
                            <div class="col-4">
                                <label class="form-label card-text fs-5">Image (Optional):</label>
                                <input type="file" name="Image" id="Image" class="form-control"/>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary float-end mt-3 mb-3 w-25">Post</button>
                    </form>
                </div>
            </div>
        </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
        <a class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Click Here
</a>
    <div class="row d-flex justify-content-center">

        @if(Model.Posts.Count>0){
        @foreach(PostViewModel vm in Model.Posts.OrderByDescending(x=>x.Id)){
            string name = $"@{vm.User.Username}";
            <div class="col-7 mt-2 mb-3">
<div class="panel mt-2 mb-3 w-auto h-auto rounded">
  <div class="panel-body">
    <div class="pane d-flex align-items-center mt-0 mb-3">
      <img
        class="pane-img border rounded-circle border-light shadow"
        style="width: 52px;
    height: 55px;"
        src="@vm.User.PhotoUrl"
        alt=""
      />
      <div class="ms-3">
        <h6 class="m-0" style="font-weight:600;">@vm.User.Name @vm.User.LastName</h6>
        <p class="m-0 pane-item text-muted">@name</p>
      </div>

      <div class="dropdown p-0 ms-auto pane-item">
<div class="dropdown">
  <i class="fa-solid fa-ellipsis fs-4 text-muted" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
  </i>

  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <li><a class="dropdown-item" asp-action="Edit" asp-controller="Post" asp-route-id=@vm.Id><i class="fas fa-pencil"></i> Edit</a></li>
    <li><a class="dropdown-item" asp-action="Delete" asp-controller="Post" asp-route-id=@vm.Id><i class="fas fa-trash"></i> Delete</a></li>
  </ul>
</div>
      </div>
    </div>

    <div class="card-text fs-5 mb-3">
@vm.Body

    </div>
    @if(!string.IsNullOrEmpty(@vm.PictureUrl)){
    <div class="d-flex justify-content-center mb-1">
                <img src="@vm.PictureUrl" class="card-img img-fluid w-75 h-25">
    </div>
    }
          <div class="d-flex justify-content-between float-start mt-3 mb-3">
       <form method="post" asp-action="Add" asp-controller="Like">
           <input type="hidden" value="@vm.Id" name="PostId" id="PostId">
           <input type="hidden" id="Act" value="Index" name="Act"/>
           <input type="hidden" id="Cont" value="Home" name="Cont"/>
           <button type="submit" class="btn btn-light text-info border border-0 me-1"><i class="fas fa-heart"></i> @vm.LikeCount Likes</button>
       </form>

       <span class="btn btn-light border-0 ms-1"><i class="fas fa-comment"></i> @vm.CommentCount Comments</span>

    </div>
            <div class="row mt-4 w-100">
                <div class="col-12 mt-2 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">New Comment</h5>
                              <span class="text-danger" style="display:none;" id="error">The comment are empty!</span>
                            <form method="post" asp-controller="Comment" asp-action="Add">
                                <textarea class="form-control" id="Body" name="Body" required></textarea>
                                <input type="hidden" id="PostId" value="@vm.Id" name="PostId"/>
                                <input type="hidden" id="Act" value="Index" name="Act"/>
                                <input type="hidden" id="Cont" value="Home" name="Cont"/>
                                <button type="submit" class="btn btn-custom float-end mt-2 mb-2 ms-2">Comment</button>
                            </form>
                        </div>
                        </div>
                </div>
        @if(@vm.CommentCount>0){

    @foreach(var comments in vm.Comments.OrderByDescending(x=>x.Id)){
        var commentusername =$"@{comments.User.Username}";
        <div class="col-12 mt-2 mb-3">
<div class="panel mt-2 mb-3 w-100 h-100 rounded">
  <div class="panel-body">
    <div class="pane d-flex align-items-center mt-0 mb-3">
      <img class="pane-img border rounded-circle" style="width: 52px;
    height: 55px;" src="@comments.User.PhotoUrl" alt="">
      <div class="ms-3">
        <h6 class="m-0" style="font-weight:600;">@comments.User.Name @comments.User.LastName</h6>
        <p class="m-0 pane-item text-muted">@commentusername</p>
      </div>
    </div>

    <div class="card-text fs-5">
@comments.Body

    </div>
  </div>
</div>
</div>
    
    }

    }
        </div>
  </div>
</div>
</div>
}
}
else{
<p class="text-white fs-2 mt-4">Hey, you don't have a post create one.</p>
}
</div>
</div>
